:root {
    --bs-primary: rgb(54, 55, 63);
    --bs-primary-rgb: 54, 55, 63
}
body {
  font: 1rem/1.5 var(--bs-font-sans-serif);
}
.btn-secondary {
    --bs-btn-bg: #CE1211;
    --bs-btn-hover-bg: #b90f0f;
}
@media (max-width: 640px) {

}

@media (min-width: 640px) and (max-width: 1024px) {
  .navbar-expand-lg .container-xl .navbar-collapse {
    display: none !important;
  }
  .navbar-expand-lg .container-xl .navbar-collapse.show {
    display: flex !important; /* Allow Bootstrap JS to show the menu */
  }
  .navbar-expand-lg .container-xl .navbar-toggler {
    display: inline-flex;
  }
}